/* Definición de estilo de Jumbotron */
.container-fluid {
    padding: 40px 0px 30px 0px;
    background-color:#ecddd3;
    text-align: center;
}

/* Definición de estilo de la clase Catálogo, contiene los productos o 
    tipos de mermeladas */
.catalogo {
    display: flex;
    flex-wrap: wrap;
}

/* Definición de estilo de la clase mermelada, contiene información de un
    producto o sabor específico */
.mermelada {
    display: flex;
    flex: 1 300px;
    flex-direction: column;
    padding: 5px 7px 7px 5px;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-between;
    background-color: #eaf3e7;
}

/* Definición de estilo de la clase btn-agregar */
.btn-agregar {
    width: 100%;
    background-color: #a9aae8;
}

address {
    text-align: center;
}

/* Definición de estilo del footer */
footer {
    padding: 15px;
    margin-top: 10px;
    background-color:#ecddd3;
}

